@font-face {
    font-family: "Janna LT";
    src: local("Janna LT"), url("../fonts/janna.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Janna LT";
    src: local("Janna LT"), url("../fonts/janna-bold.woff") format("woff");
    font-weight: bold;
}

$family-heading: "Janna LT", "Helvetica Neue", "Segeo UI", sans-serif;
$family-content: -apple-system,BlinkMacSystemFont, "Helvetica Neue", "Geeza pro","Segeo UI", Roboto, Oxygen-sans, Ubuntu,sans-serif;

